<%- include('partials/_header.ejs') %>
<body>
    <!-- Add your EJS code here -->
    <p> These are the shortened urls for each website</p>
    <ul>
      <% var newkeys= []; %>
      <% for (key in urls) {%> <!-- getting each key in the urls object brought over by the .render in express_server.js -->
      <% newkeys.push(key) %> <!-- pushed each key into a new array -->
      <% } %>

      <% for(var a = 0; a < newkeys.length; a++){ %> <!-- used a for loop to match each shortened urls to long URLs -->
        <% shorturl = newkeys[a]%>
        <form action=/urls/<%= shorturl %>/delete method="POST" id="deleteurl" >
          <li > <%= newkeys[a] %> --> <a href= <%= urls[newkeys[a]] %> > <%= urls[newkeys[a]]; %></a>  <a href = /urls/<%= shorturl %> > Edit</a> /urls/<%= shorturl %>
            <button type="submit" form="deleteurl" name="deleteurl" value=<%= newkeys[a] %>> Delete</button></li>
        </form>
      <% } %>


    </ul>


    <p> Click <a href="/urls/new"> HERE </a> to shorten any urls! </p><!-- currently a dead link but send them to a page to write thier url and we shorten it for them -->
</body>
</html>